@import "tailwindcss";

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

@font-face {
  font-family: "MyCustomFont";
  src: url("/wallpaper/src/app/fonts/FiraSans-Black.ttf") format("woff2"),
        url("/wallpaper/src/app/fonts/FiraSans-Black.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "MyCustomFont1";
  src: url("/wallpaper/src/app/fonts/Montserrat-VariableFont_wght.ttf") format("woff2"),
        url("/wallpaper/src/app/fonts/Montserrat-VariableFont_wght.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

@font-face{
  font-family: "MyCustomFont2";
  src: url("/wallpaper/src/app/fonts/ArchivoBlack-Regular.ttf") format("woff2"),
        url("/wallpaper/src/app/fonts/ArchivoBlack-Regular.ttf") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: 'Arial', 'Helvetica', sans-serif;
}
